body {
    margin: 0;
}

.header-container {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    padding: 16px;
}

.header {
    width: 1200px;
}

.logo-links-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links {
    list-style-type: none;
    display: flex;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none;
}

a, .hero-secondary {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

